*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #0a1499;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */

header{
    width: 100%;
    height: 600px;
    background:  #6de4ec;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(222, 58%, 62%, 0.616), hsla(184, 70%, 54%, 0.623)), url(img/portada2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(194, 58%, 62%, 0.651), hsla(189, 70%, 54%, 0.623)), url(img/portada2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .5);

}

.menu-navegacion{
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, hsla(180, 63%, 50%, 0.796) 0%, hsla(267, 86%, 22%, 0.631) 100%);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3s ease-in-out; */
    transform: translate(100%); 
    box-shadow: rgba(0, 0, 0, .6);
}

.spread{
    transform: translate(0);
}

.menu-navegacion{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(110%);
    transition: transform ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .1s .0s;

}

.showImage{
    transform: scale(1);
}

.close{
    position: fixed;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}



nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    margin-right: 15px;
}

nav > a:hover{
    text-decoration: center;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 80px;
    color: white;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 100%;
    display: flex;
}

/* about us */
main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;

}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: brown;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 30px;
    font-weight: 300;
    text-align: justify;
}

/* Galería */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: contain;
    width: 30%;
    display: block;

}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}



.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: hsla(184, 91%, 27%, 0.596);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(0);
}

/* Clientes*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #0a1499;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 30%;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff;
    border-radius: 70%;
    display: block;

}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* Our Team*/

.about-services{
    background: #fff;
    padding-bottom: 30px;
}

.servicios-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.servicios-ind{
    width: 28%;
    text-align: center;
}

.servicios-ind img{
    width: 90%;
}

.servicios-ind h3{
    margin: 10px 0;
}

.servicios-ind {
    font-weight: 300;
    text-align: justify;
}

/* footer */ 

/* footer{
    background: #4169e1;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 1px solid blue ;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #fff;
    border-bottom: 1px solid white ;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: white;
} */

/* FOOTER 2 */

footer{
    background: #4169e1;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #4169e1;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}


/* ADAPTADO A MOVILES*/


@media screen and (max-width:900px){
    
    .menu-navegacion{
        width: 50vw;
    }
    
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /*galeria*/

    .imagen-port{
        width: 44%;
    }

    .agregar-imagen{
        width: 80%;

    }
    /* Clientes*/

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /*Servicios*/

    .servicios-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicios-ind{
        width: 100%;
        text-align: center;
    }

    .servicios-ind:nth-child(1), .servicios-ind.servicios-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicios-ind img{
        width: 90%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;

    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .agregar-imagen{
        width: 95%;
    }
    
    
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* About Us */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galería */

    .imagen-port{
        width: 95%;
    }

    /* Clientes */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }
    
    .content-foo {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}